.manpct_t{
    width: 150px;
    height: 150px;
    background-color: black;
    margin:15px 20px;
}
.manpct_b{
    width: 150px;
    height: 150px;
    background-color: black;
    margin:15px 20px;
}