/*///////////////////block test///////////////*/
.manpct_t{
    width: 150px;
    height: 150px;
    background-color: black;
    margin:15px 20px;
}
.manpct_b{
    width: 150px;
    height: 150px;
    background-color: black;
    margin:15px 20px;
}
/*///////////////////block test///////////////*/

/*////////////////footer///////////////////*/
#footer{
    display: flex;
    justify-content: space-around;
}
h6{
    text-decoration: underline;
}
.border{
    border: solid 1px;
    border: solid 1px;
}